@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<AppleEater>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr class="text-center text-white bg-dark">
            <th>Name</th>
            <th>Email</th>
            <th>DateTime</th>
            <th>AppleAmount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class ="text-center text-white bg-info">
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Time</td>
                <td>@item.AppleAmount</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="RegForm">
    Create
</a>



